body {
    padding: 10px;
    background-color: white;
}

table {
    padding: 10px;
    line-height: 2;
}

th, td {
    border-bottom: 1px solid lightgray;
}

#bin {
    text-align: center;
}


.buttons form {
    display:inline-block;
}

a {

    color: white;

}

th {

    text-align: center;

}