{% extends "base.html" %}
{% block title %}Display question{% endblock %}
{% block head %}
    {{ super() }}
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
          integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/'
          crossorigin='anonymous'>
{% endblock %}
{% block body %}
<h1>Question</h1>
<h3>{{ question['title'] }}</h3>
<div class="btn-group" role="group" aria-label="Basic example">
    <form action="{{ url_for("add_new_answer", question_id=question['id']) }}">
        <button type="submit" class="btn btn-secondary">Add new answer</button>
    </form>
    <form action="{{ url_for("add_comment_to_question", question_id=question['id']) }}">
        <button type="submit" class="btn btn-secondary">Add comment</button>
    </form>
    <form action="{{ url_for("question_vote_up", question_id=question['id']) }}" method="post">
        <button type="submit" class="btn btn-secondary">Vote up</button>
    </form>
    <form action="{{ url_for("question_vote_down", question_id=question['id']) }}" method="post">
        <button type="submit" class="btn btn-secondary">Vote down</button>
    </form>
</div>
</div>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Submission time</th>
            <th scope="col">View number</th>
            <th scope="col">Vote number</th>
            <th scope="col">Accepted</th>
            <th scope="col">Message</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ question['id'] }}</td>
                <td>{{ question['submission_time'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
                {% if accepted is defined %}
                    <td>Accepted</td>
                {% else %}
                    <td><form action="{{ url_for('accept_answer', question_id=question['id']) }}" method="post">
                        <button type="submit" class="btn btn-secondary">Mark as accepted</button>
                        </form></td>
                {% endif %}
                <td>{{ question['message'] }}</td>
                <td>{{ question['image'] }}</td>
            </tr>
        </tbody>
    </table>
{% if (comments is defined) and comments %}
<br>
<h3>Comments</h3>
    <table class="table table-hover table-dark">
        <tr>
            <th>ID</th>
            <th>Comment</th>
            <th>Submission time</th>
            <th>Edit</th>
            <th>Edited count</th>
            <th>Delete</th>
        </tr>
        {% for comment in comments %}
            {% if comment['question_id'] == question['id'] %}
                <tr>
                    <td>{{ comment['id'] }}</td>
                    <td>{{ comment['message'] }}</td>
                    <td>{{ comment['submission_time'] }}</td>
                    <td><a href="{{ url_for('edit_comment', comment_id=comment['id']) }}">Modify</a></td>
                    <td>{{ comment['edited_count'] }}</td>
                    <td id="bin"><a href="{{ url_for('delete_comment', comment_id=comment['id']) }}"><i class='far fa-trash-alt' style='font-size:16px'></i></a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
{% if (answers is defined) and answers %}
<br>
<h3>Answers</h3>
    <table class="table table-hover table-dark">
        <tr>
            <th>ID</th>
            <th>Answer</th>
            {% if (comments is defined) and comments %}
                <th>Comments</th>
            {% endif %}
            <th>Submission time</th>
            <th>Vote buttons</th>
            <th>Votes</th>
            <th>Add comment</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for answer in answers %}
            <tr>
                <td>{{ answer['id'] }}</td>
                <td>{{ answer['message'] }}</td>
                {% if (comments is defined) and comments %}
                <td>
                    <ul>
                    {% for comment in comments %}
                        {% if comment['answer_id'] == answer['id'] %}
                            <li>{{ comment['message'] }} <a href="{{ url_for('delete_comment', comment_id=comment['id']) }}"><i class='far fa-trash-alt' style='font-size:14px'></i></a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                {% endif %}
                <td>{{ answer['submission_time'] }}</td>
                <td><form action="{{ url_for("answer_vote_up", question_id=answer['question_id'], answer_id=answer['id']) }}" method="post">
                    <button type="submit" class="btn btn-light">Vote up</button>
                    </form>
                    <form action="{{ url_for("answer_vote_down", question_id=answer['question_id'], answer_id=answer['id']) }}" method="post">
                    <button type="submit" class="btn btn-light">Vote down</button>
                    </form>
                </td>
                <td>{{ answer['vote_number'] }}</td>
                <td><a href="{{ url_for('add_comment_to_answer', answer_id = answer['id'], question_id=question['id']) }}">Add</a></td>
                <td><a href="{{ url_for('edit_answer', answer_id=answer['id']) }}">Modify</a></td>
                <td id="bin"><a href="{{ url_for('delete_answer', answer_id=answer['id']) }}"><i class='far fa-trash-alt' style='font-size:16px'></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<br>
<a href="{{ url_for("index") }}">Home page</a>
{% endblock %}