{% extends "base.html" %}
{% block title %}Display question{% endblock %}
{% block head %}
    {{ super() }}
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
          integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/'
          crossorigin='anonymous'>
{% endblock %}
{% block body %}
<h1>Question</h1>
<h3>{{ question['title'] }}</h3>
<form action="{{ url_for("vote_up", question_id=question['id']) }}" method="post">
    <button type="submit">Vote up</button>
</form>
<br>
<form action="{{ url_for("add_comment_to_question", question_id=question['id']) }}">
    <button type="submit">Add comment</button>
</form>
    <table>
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>{{ question['id'] }}</td>
            <td>{{ question['submission_time'] }}</td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
            <td>{{ question['message'] }}</td>
            <td>{{ question['image'] }}</td>
        </tr>
    </table>
<br>
{% if (comments is defined) and comments %}
<h3>Comments</h3>
    <table>
        <tr>
            <th>Comment</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td>{{ comment['message'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
<br>
{% if (answers is defined) and answers %}
<h3>Answers</h3>
    <table>
        <tr>
            <th>Answer</th>
            <th>Delete</th>
        </tr>
        {% for answer in answers %}
        <tr>
            <td>{{ answer['message'] }}</td>
            <td id="bin"><a href="{{ url_for('delete_answer', answer_id=answer['id']) }}"><i class='far fa-trash-alt' style='font-size:16px'></i></a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
<br>
<a href="{{ url_for("route_add_new_answer", question_id=question['id']) }}">Add new answer</a>
<br>
<a href="{{ url_for("index") }}">Home page</a>
{% endblock %}