{% extends "base.html" %}
{% block title %}Edit Question{% endblock %}
{% block body %}
<h1>Edit Question</h1>
    <div class="form-group">
    <div class="form-group col-md-4">
        <form action="{{ url_for('edit_question', question_id=question['id']) }}" method="post">
            <p><label for="question">Your question:</label><br>
            <input id="question" name="question" class="form-control" value="{{ question['title'] }}"></p>
            <p><label for="message">Message:</label><br>
            <textarea id="message" name="message" class="form-control" rows="4" cols="40">{{ question['message'] }}</textarea></p>
            <p><label for="image">Image URL:</label><br>
            <input id="image" name="image" class="form-control" value="{{ question['image'] }}"></p>
            <button type="submit" class="btn btn-primary">Submit edited question</button>
        </form>
    </div>
    </div>
{% endblock %}