{% extends "base.html" %}
{% block title %}Edit Comment{% endblock %}
{% block body %}
    <div class="container_add_new">
            <div class="card border-primary mb-3">
                <div class="card-header"><h4>Edit Comment</h4></div>
            <div class="card-body text-primary">

            <div class="form-group">
            <div class="form-group col-md-4">
                <form action="{{ url_for('edit_comment', comment_id=comment['id']) }}" method="post">
            <p><label for="message">Your comment:</label><br>
            <textarea id="message" name="message" class="form-control" rows="4" cols="40">{{ comment['message'] }}</textarea></p>
            <button type="submit" class="btn btn-primary" >Submit edited comment</button>
        </form>

        </div>
        </div>

        </div>
    </div>
    </div>
{% endblock %}