{% extends "base.html" %}
{% block title %}Edit Answer{% endblock %}
{% block body %}
<h1>Edit Answer</h1>
<form action="{{ url_for('edit_answer', answer_id=answer['id']) }}" method="post">
    <p><label for="message">Your answer:</label><br>
    <textarea id="message" name="message" rows="4" cols="40">{{ answer['message'] }}</textarea></p>
    <p><label for="image">Image URL:</label><br>
    <input id="image" name="image" value="{{ answer['image'] }}"></p>
    <button type="submit">Submit edited answer</button>
</form>
{% endblock %}