{%  extends "base.html" %}
{% block title %}Welcome!{%  endblock %}
{% block head %}
    {{ super() }}
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
          integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/'
          crossorigin='anonymous'>
{% endblock %}
{% block body %}
<h1>Latest Questions</h1>
<table class="table table-hover table-dark">
    <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for question in questions %}
    <tr>
        <th scope="row"><a href="{{ url_for('display_question', question_id=question['id']) }}">{{ question['title'] }}</a></th></th>
        <td><a href="{{ url_for('edit_question', question_id=question['id']) }}">Modify</a></td>
        <td id="bin"><a href="{{ url_for('delete_question', question_id=question['id']) }}"><i class='far fa-trash-alt' style='font-size:16px'></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}