{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% if is_in_the_db %}
        <script>
            alert("This username already exists in our system, please choose another one.");
        </script>
    {% endif %}

    {% if not session['user_name'] %}
        <div class="container_add_new">
            <div class="card border-primary mb-3">
                <div class="card-header"><h4>Registration</h4></div>
            <div class="card-body text-primary">

            <div class="form-group">
            <div class="form-group col-md-4">
        <form action="{{ url_for('registration') }}" method="post">
                    <p>Username <br>
                        <input type=text maxlength="100" name="user_name" class="form-control">
                    </p>
                    <p>
                        Password <br>
                        <input type=password name="password" class="form-control">
                    </p>
                    <p>
                        <button class="btn btn-primary" type="submit">Registration</button>
                    </p>
                </form>
            </div>
            </div>

            </div>
        </div>
        </div>
    {% endif %}
    {% if session['reg_status'] == "registered" %}
        <script>
            alert("The registration has been successful");
        </script>
    {% endif %}
{% endblock %}

