{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% if not session['user_name'] %}
    <form action="{{ url_for('registration') }}" method="post">
        <p>
            Username <br>
            <input type=text maxlength="100" name="user_name">
        </p>
        <p>
            Password <br>
            <input type=text name="password">
        </p>
        <p>
            <button type="submit">Registration</button>
        </p>
    </form>
    {% elif session['user_name'] %}
        <p>The registration has been successful</p>
    {% endif %}


    <a href="{{ url_for('index') }}">Back to the main menu</a>
{% endblock %}