{% extends "base.html" %}
{% block title %}Display question{% endblock %}
{% block head %}
    {{ super() }}
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
          integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/'
          crossorigin='anonymous'>
{% endblock %}
{% block body %}
<h1>Results of searching for "{{ search_phrase }}"</h1>
{% if (questions is defined) and questions %}
<br>
<h2>In questions:</h2>
<table class="table table-hover table-dark">
    <tr>
        <th>ID</th>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
        <th>View</th>
    </tr>
    {% for question in questions %}
        <tr>
            <td>{{ question['id'] }}</td>
            <td>{{ question['submission_time'] }}</td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
            <td>{{ question['title'] }}</td>
            <td>{{ question['message'] }}</td>
            <td>{{ question['image'] }}</td>
            <td><a href="{{ url_for('display_question', question_id=question['id']) }}">See question</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% if (answers is defined) and answers %}
<br>
<h2>In answers:</h2>
<table class="table table-hover table-dark">
    <th>
        <td>ID</td>
        <td>Submission time</td>
        <td>vote number</td>
        <td>Question ID</td>
        <td>Message</td>
        <td>Image</td>
        <th>View</th>
    {% for answer in answers %}
        <tr>
            <td>{{ answer['id'] }}</td>
            <td>{{ answer['submission_time'] }}</td>
            <td>{{ answer['vote_number'] }}</td>
            <td>{{ answer['question_id'] }}</td>
            <td>{{ answer['message'] }}</td>
            <td>{{ answer['image'] }}</td>
            <td><a href="{{ url_for('display_question', question_id=answer['question_id']) }}">See question</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}